[submodule "ChariotSanzzo"]
	path = ChariotSanzzo
	url = git@github.com:IttoSanzzo/ChariotSanzzo.git
[submodule "ChariotApi"]
	path = ChariotApi
	url = git@github.com:IttoSanzzo/ChariotAPI.git
[submodule "Gjallarhorn"]
	path = Gjallarhorn
	url = git@github.com:IttoSanzzo/Gjallarhorn.git
